*{margin: 0;padding: 0;}
.h1,.h2,.h3,h1,h2,h3{font-family:"Segoe UI",Arial,sans-serif;font-weight:700}
body{
    overflow: hidden;
}
.mainbg{
    -moz-animation:hScroll 7s infinite linear;
    -ms-animation:hScroll 7s infinite linear;
    -o-animation:hScroll 7s infinite linear;
    -webkit-animation:hScroll 7s infinite linear;
    animation:hScroll 7s infinite linear;
    -webkit-font-smoothing:antialiased;
    background-image:url('./img/figley_background_pattern.png');
    background-size: 500px 500px;
    background-color:transparent;
    background-position:center center;
}
#hightlight{
    margin: 0px auto;
    width: 700px;
    height: 700px;
    border-radius: 700px;
    background: rgba(178,245,247,.7);
    filter: blur(100px);
}
#figleyContainer{
    margin: 0px auto;
    display: flex; 
    justify-content: center;
    width: 500px;
    height: 500px;
    position: relative;
    top: -600px;
}
#figley{
    position: relative;
    top: -100px;
    transform:scale(0.8);
    background-image: url('./img/figley_sprite.png');
    height: 691px;
    width:450px ;
    -moz-animation:figley 7s step-start 0s infinite;
    -ms-animation:figley 7s step-start 0s infinite;
    -o-animation:figley 7s step-start 0s infinite;
    animation:figley 7s step-start 0s infinite;
}

.number{
    font-size: 100px;
    font-family: 'Comic Sans MS';
    font-weight:bolder;
    -webkit-text-stroke: 5px #000;
    color:#FFD65A;
}

#number{
    position: absolute;
    right: 40px;
    top: 20px;
    transform: rotate(10deg);
}

.numInput{
    font-size: 100px;
    border: none;
    background-color: transparent;
    width: 300px;
    text-align: right;
}

@-webkit-keyframes hScroll{
    from{background-position:100% 100%}
    to{background-position:0 0}
}
@-moz-keyframes hScroll{
    from{background-position:100% 100%}
    to{background-position:0 0}
}
@-ms-keyframes hScroll{
    from{background-position:100% 100%}
    to{background-position:0 0}
}
@-o-keyframes hScroll{
    from{background-position:100% 100%}
    to{background-position:0 0}
}
@keyframes hScroll{
    from{background-position:100% 100%}
    to{background-position:0 0}
}

@keyframes figley{
    0%{background-position:0 0}
    0.8333%{background-position:-450px 0}
    1.6666%{background-position:-900px 0}
    2.4999%{background-position:-1350px 0}
    3.3332002%{background-position:-1800px 0}
    4.1665%{background-position:-2250px 0}
    4.9998%{background-position:-2700px 0}
    5.8331003%{background-position:-3150px 0}
    6.6664004%{background-position:-3600px 0}
    7.4997005%{background-position:-4050px 0}
    8.333%{background-position:-4500px 0}
    9.1663%{background-position:-4950px 0}
    9.999599%{background-position:-5400px 0}
    10.832899%{background-position:-5850px 0}
    11.666199%{background-position:-6300px 0}
    12.499498%{background-position:-6750px 0}
    13.332798%{background-position:-7200px 0}
    14.166098%{background-position:-7650px 0}
    14.999397%{background-position:-8100px 0}
    15.832697%{background-position:-8550px 0}
    16.665997%{background-position:-9000px 0}
    17.499296%{background-position:-9450px 0}
    18.332596%{background-position:-9900px 0}
    19.165895%{background-position:-10350px 0}
    19.999195%{background-position:-10800px 0}
    20.832495%{background-position:-11250px 0}
    21.665794%{background-position:-11700px 0}
    22.499094%{background-position:-12150px 0}
    23.332394%{background-position:-12600px 0}
    24.165693%{background-position:-13050px 0}
    24.998993%{background-position:-13500px 0}
    25.832293%{background-position:-13950px 0}
    26.665592%{background-position:-14400px 0}
    27.498892%{background-position:-14850px 0}
    28.332191%{background-position:-15300px 0}
    29.165491%{background-position:-15750px 0}
    29.99879%{background-position:-16200px 0}
    30.83209%{background-position:-16650px 0}
    31.66539%{background-position:-17100px 0}
    32.49869%{background-position:-17550px 0}
    33.331993%{background-position:-18000px 0}
    34.165295%{background-position:-18450px 0}
    34.998596%{background-position:-18900px 0}
    35.831898%{background-position:-19350px 0}
    36.6652%{background-position:-19800px 0}
    37.4985%{background-position:-20250px 0}
    38.331802%{background-position:-20700px 0}
    39.165104%{background-position:-21150px 0}
    39.998405%{background-position:-21600px 0}
    40.831707%{background-position:-22050px 0}
    41.66501%{background-position:-22500px 0}
    42.49831%{background-position:-22950px 0}
    43.33161%{background-position:-23400px 0}
    44.164913%{background-position:-23850px 0}
    44.998215%{background-position:-24300px 0}
    45.831516%{background-position:-24750px 0}
    46.664818%{background-position:-25200px 0}
    47.49812%{background-position:-25650px 0}
    48.33142%{background-position:-26100px 0}
    49.164722%{background-position:-26550px 0}
    49.998024%{background-position:-27000px 0}
    50.831326%{background-position:-27450px 0}
    51.664627%{background-position:-27900px 0}
    52.49793%{background-position:-28350px 0}
    53.33123%{background-position:-28800px 0}
    54.16453%{background-position:-29250px 0}
    54.997833%{background-position:-29700px 0}
    55.831135%{background-position:-30150px 0}
    56.664436%{background-position:-30600px 0}
    57.497738%{background-position:-31050px 0}
    58.33104%{background-position:-31500px 0}
    59.16434%{background-position:-31950px 0}
    59.997643%{background-position:-32400px 0}
    60.830944%{background-position:-32850px 0}
    61.664246%{background-position:-33300px 0}
    62.497547%{background-position:-33750px 0}
    63.33085%{background-position:-34200px 0}
    64.16415%{background-position:-34650px 0}
    64.997444%{background-position:-35100px 0}
    65.83074%{background-position:-35550px 0}
    66.66404%{background-position:-36000px 0}
    67.49734%{background-position:-36450px 0}
    68.330635%{background-position:-36900px 0}
    69.16393%{background-position:-37350px 0}
    69.99723%{background-position:-37800px 0}
    70.83053%{background-position:-38250px 0}
    71.663826%{background-position:-38700px 0}
    72.49712%{background-position:-39150px 0}
    73.33042%{background-position:-39600px 0}
    74.16372%{background-position:-40050px 0}
    74.99702%{background-position:-40500px 0}
    75.830315%{background-position:-40950px 0}
    76.66361%{background-position:-41400px 0}
    77.49691%{background-position:-41850px 0}
    78.33021%{background-position:-42300px 0}
    79.163506%{background-position:-42750px 0}
    79.9968%{background-position:-43200px 0}
    80.8301%{background-position:-43650px 0}
    81.6634%{background-position:-44100px 0}
    82.4967%{background-position:-44550px 0}
    83.329994%{background-position:-45000px 0}
    84.16329%{background-position:-45450px 0}
    84.99659%{background-position:-45900px 0}
    85.82989%{background-position:-46350px 0}
    86.663185%{background-position:-46800px 0}
    87.49648%{background-position:-47250px 0}
    88.32978%{background-position:-47700px 0}
    89.16308%{background-position:-48150px 0}
    89.996376%{background-position:-48600px 0}
    90.82967%{background-position:-49050px 0}
    91.66297%{background-position:-49500px 0}
    92.49627%{background-position:-49950px 0}
    93.32957%{background-position:-50400px 0}
    94.162865%{background-position:-50850px 0}
    94.99616%{background-position:-51300px 0}
    95.82946%{background-position:-51750px 0}
    96.66276%{background-position:-52200px 0}
    97.496056%{background-position:-52650px 0}
    98.32935%{background-position:-53100px 0}
    99.16265%{background-position:-53550px 0}
    100%{background-position:-54000px 0}
}

@-webkit-keyframes figley{
    0%{background-position:0 0}
    0.8333%{background-position:-450px 0}
    1.6666%{background-position:-900px 0}
    2.4999%{background-position:-1350px 0}
    3.3332002%{background-position:-1800px 0}
    4.1665%{background-position:-2250px 0}
    4.9998%{background-position:-2700px 0}
    5.8331003%{background-position:-3150px 0}
    6.6664004%{background-position:-3600px 0}
    7.4997005%{background-position:-4050px 0}
    8.333%{background-position:-4500px 0}
    9.1663%{background-position:-4950px 0}
    9.999599%{background-position:-5400px 0}
    10.832899%{background-position:-5850px 0}
    11.666199%{background-position:-6300px 0}
    12.499498%{background-position:-6750px 0}
    13.332798%{background-position:-7200px 0}
    14.166098%{background-position:-7650px 0}
    14.999397%{background-position:-8100px 0}
    15.832697%{background-position:-8550px 0}
    16.665997%{background-position:-9000px 0}
    17.499296%{background-position:-9450px 0}
    18.332596%{background-position:-9900px 0}
    19.165895%{background-position:-10350px 0}
    19.999195%{background-position:-10800px 0}
    20.832495%{background-position:-11250px 0}
    21.665794%{background-position:-11700px 0}
    22.499094%{background-position:-12150px 0}
    23.332394%{background-position:-12600px 0}
    24.165693%{background-position:-13050px 0}
    24.998993%{background-position:-13500px 0}
    25.832293%{background-position:-13950px 0}
    26.665592%{background-position:-14400px 0}
    27.498892%{background-position:-14850px 0}
    28.332191%{background-position:-15300px 0}
    29.165491%{background-position:-15750px 0}
    29.99879%{background-position:-16200px 0}
    30.83209%{background-position:-16650px 0}
    31.66539%{background-position:-17100px 0}
    32.49869%{background-position:-17550px 0}
    33.331993%{background-position:-18000px 0}
    34.165295%{background-position:-18450px 0}
    34.998596%{background-position:-18900px 0}
    35.831898%{background-position:-19350px 0}
    36.6652%{background-position:-19800px 0}
    37.4985%{background-position:-20250px 0}
    38.331802%{background-position:-20700px 0}
    39.165104%{background-position:-21150px 0}
    39.998405%{background-position:-21600px 0}
    40.831707%{background-position:-22050px 0}
    41.66501%{background-position:-22500px 0}
    42.49831%{background-position:-22950px 0}
    43.33161%{background-position:-23400px 0}
    44.164913%{background-position:-23850px 0}
    44.998215%{background-position:-24300px 0}
    45.831516%{background-position:-24750px 0}
    46.664818%{background-position:-25200px 0}
    47.49812%{background-position:-25650px 0}
    48.33142%{background-position:-26100px 0}
    49.164722%{background-position:-26550px 0}
    49.998024%{background-position:-27000px 0}
    50.831326%{background-position:-27450px 0}
    51.664627%{background-position:-27900px 0}
    52.49793%{background-position:-28350px 0}
    53.33123%{background-position:-28800px 0}
    54.16453%{background-position:-29250px 0}
    54.997833%{background-position:-29700px 0}
    55.831135%{background-position:-30150px 0}
    56.664436%{background-position:-30600px 0}
    57.497738%{background-position:-31050px 0}
    58.33104%{background-position:-31500px 0}
    59.16434%{background-position:-31950px 0}
    59.997643%{background-position:-32400px 0}
    60.830944%{background-position:-32850px 0}
    61.664246%{background-position:-33300px 0}
    62.497547%{background-position:-33750px 0}
    63.33085%{background-position:-34200px 0}
    64.16415%{background-position:-34650px 0}
    64.997444%{background-position:-35100px 0}
    65.83074%{background-position:-35550px 0}
    66.66404%{background-position:-36000px 0}
    67.49734%{background-position:-36450px 0}
    68.330635%{background-position:-36900px 0}
    69.16393%{background-position:-37350px 0}
    69.99723%{background-position:-37800px 0}
    70.83053%{background-position:-38250px 0}
    71.663826%{background-position:-38700px 0}
    72.49712%{background-position:-39150px 0}
    73.33042%{background-position:-39600px 0}
    74.16372%{background-position:-40050px 0}
    74.99702%{background-position:-40500px 0}
    75.830315%{background-position:-40950px 0}
    76.66361%{background-position:-41400px 0}
    77.49691%{background-position:-41850px 0}
    78.33021%{background-position:-42300px 0}
    79.163506%{background-position:-42750px 0}
    79.9968%{background-position:-43200px 0}
    80.8301%{background-position:-43650px 0}
    81.6634%{background-position:-44100px 0}
    82.4967%{background-position:-44550px 0}
    83.329994%{background-position:-45000px 0}
    84.16329%{background-position:-45450px 0}
    84.99659%{background-position:-45900px 0}
    85.82989%{background-position:-46350px 0}
    86.663185%{background-position:-46800px 0}
    87.49648%{background-position:-47250px 0}
    88.32978%{background-position:-47700px 0}
    89.16308%{background-position:-48150px 0}
    89.996376%{background-position:-48600px 0}
    90.82967%{background-position:-49050px 0}
    91.66297%{background-position:-49500px 0}
    92.49627%{background-position:-49950px 0}
    93.32957%{background-position:-50400px 0}
    94.162865%{background-position:-50850px 0}
    94.99616%{background-position:-51300px 0}
    95.82946%{background-position:-51750px 0}
    96.66276%{background-position:-52200px 0}
    97.496056%{background-position:-52650px 0}
    98.32935%{background-position:-53100px 0}
    99.16265%{background-position:-53550px 0}
    100%{background-position:-54000px 0}
}
@-moz-keyframes figley{
    0%{background-position:0 0}
    0.8333%{background-position:-450px 0}
    1.6666%{background-position:-900px 0}
    2.4999%{background-position:-1350px 0}
    3.3332002%{background-position:-1800px 0}
    4.1665%{background-position:-2250px 0}
    4.9998%{background-position:-2700px 0}
    5.8331003%{background-position:-3150px 0}
    6.6664004%{background-position:-3600px 0}
    7.4997005%{background-position:-4050px 0}
    8.333%{background-position:-4500px 0}
    9.1663%{background-position:-4950px 0}
    9.999599%{background-position:-5400px 0}
    10.832899%{background-position:-5850px 0}
    11.666199%{background-position:-6300px 0}
    12.499498%{background-position:-6750px 0}
    13.332798%{background-position:-7200px 0}
    14.166098%{background-position:-7650px 0}
    14.999397%{background-position:-8100px 0}
    15.832697%{background-position:-8550px 0}
    16.665997%{background-position:-9000px 0}
    17.499296%{background-position:-9450px 0}
    18.332596%{background-position:-9900px 0}
    19.165895%{background-position:-10350px 0}
    19.999195%{background-position:-10800px 0}
    20.832495%{background-position:-11250px 0}
    21.665794%{background-position:-11700px 0}
    22.499094%{background-position:-12150px 0}
    23.332394%{background-position:-12600px 0}
    24.165693%{background-position:-13050px 0}
    24.998993%{background-position:-13500px 0}
    25.832293%{background-position:-13950px 0}
    26.665592%{background-position:-14400px 0}
    27.498892%{background-position:-14850px 0}
    28.332191%{background-position:-15300px 0}
    29.165491%{background-position:-15750px 0}
    29.99879%{background-position:-16200px 0}
    30.83209%{background-position:-16650px 0}
    31.66539%{background-position:-17100px 0}
    32.49869%{background-position:-17550px 0}
    33.331993%{background-position:-18000px 0}
    34.165295%{background-position:-18450px 0}
    34.998596%{background-position:-18900px 0}
    35.831898%{background-position:-19350px 0}
    36.6652%{background-position:-19800px 0}
    37.4985%{background-position:-20250px 0}
    38.331802%{background-position:-20700px 0}
    39.165104%{background-position:-21150px 0}
    39.998405%{background-position:-21600px 0}
    40.831707%{background-position:-22050px 0}
    41.66501%{background-position:-22500px 0}
    42.49831%{background-position:-22950px 0}
    43.33161%{background-position:-23400px 0}
    44.164913%{background-position:-23850px 0}
    44.998215%{background-position:-24300px 0}
    45.831516%{background-position:-24750px 0}
    46.664818%{background-position:-25200px 0}
    47.49812%{background-position:-25650px 0}
    48.33142%{background-position:-26100px 0}
    49.164722%{background-position:-26550px 0}
    49.998024%{background-position:-27000px 0}
    50.831326%{background-position:-27450px 0}
    51.664627%{background-position:-27900px 0}
    52.49793%{background-position:-28350px 0}
    53.33123%{background-position:-28800px 0}
    54.16453%{background-position:-29250px 0}
    54.997833%{background-position:-29700px 0}
    55.831135%{background-position:-30150px 0}
    56.664436%{background-position:-30600px 0}
    57.497738%{background-position:-31050px 0}
    58.33104%{background-position:-31500px 0}
    59.16434%{background-position:-31950px 0}
    59.997643%{background-position:-32400px 0}
    60.830944%{background-position:-32850px 0}
    61.664246%{background-position:-33300px 0}
    62.497547%{background-position:-33750px 0}
    63.33085%{background-position:-34200px 0}
    64.16415%{background-position:-34650px 0}
    64.997444%{background-position:-35100px 0}
    65.83074%{background-position:-35550px 0}
    66.66404%{background-position:-36000px 0}
    67.49734%{background-position:-36450px 0}
    68.330635%{background-position:-36900px 0}
    69.16393%{background-position:-37350px 0}
    69.99723%{background-position:-37800px 0}
    70.83053%{background-position:-38250px 0}
    71.663826%{background-position:-38700px 0}
    72.49712%{background-position:-39150px 0}
    73.33042%{background-position:-39600px 0}
    74.16372%{background-position:-40050px 0}
    74.99702%{background-position:-40500px 0}
    75.830315%{background-position:-40950px 0}
    76.66361%{background-position:-41400px 0}
    77.49691%{background-position:-41850px 0}
    78.33021%{background-position:-42300px 0}
    79.163506%{background-position:-42750px 0}
    79.9968%{background-position:-43200px 0}
    80.8301%{background-position:-43650px 0}
    81.6634%{background-position:-44100px 0}
    82.4967%{background-position:-44550px 0}
    83.329994%{background-position:-45000px 0}
    84.16329%{background-position:-45450px 0}
    84.99659%{background-position:-45900px 0}
    85.82989%{background-position:-46350px 0}
    86.663185%{background-position:-46800px 0}
    87.49648%{background-position:-47250px 0}
    88.32978%{background-position:-47700px 0}
    89.16308%{background-position:-48150px 0}
    89.996376%{background-position:-48600px 0}
    90.82967%{background-position:-49050px 0}
    91.66297%{background-position:-49500px 0}
    92.49627%{background-position:-49950px 0}
    93.32957%{background-position:-50400px 0}
    94.162865%{background-position:-50850px 0}
    94.99616%{background-position:-51300px 0}
    95.82946%{background-position:-51750px 0}
    96.66276%{background-position:-52200px 0}
    97.496056%{background-position:-52650px 0}
    98.32935%{background-position:-53100px 0}
    99.16265%{background-position:-53550px 0}
    100%{background-position:-54000px 0}
}
@-ms-keyframes figley{
    0%{background-position:0 0}
    0.8333%{background-position:-450px 0}
    1.6666%{background-position:-900px 0}
    2.4999%{background-position:-1350px 0}
    3.3332002%{background-position:-1800px 0}
    4.1665%{background-position:-2250px 0}
    4.9998%{background-position:-2700px 0}
    5.8331003%{background-position:-3150px 0}
    6.6664004%{background-position:-3600px 0}
    7.4997005%{background-position:-4050px 0}
    8.333%{background-position:-4500px 0}
    9.1663%{background-position:-4950px 0}
    9.999599%{background-position:-5400px 0}
    10.832899%{background-position:-5850px 0}
    11.666199%{background-position:-6300px 0}
    12.499498%{background-position:-6750px 0}
    13.332798%{background-position:-7200px 0}
    14.166098%{background-position:-7650px 0}
    14.999397%{background-position:-8100px 0}
    15.832697%{background-position:-8550px 0}
    16.665997%{background-position:-9000px 0}
    17.499296%{background-position:-9450px 0}
    18.332596%{background-position:-9900px 0}
    19.165895%{background-position:-10350px 0}
    19.999195%{background-position:-10800px 0}
    20.832495%{background-position:-11250px 0}
    21.665794%{background-position:-11700px 0}
    22.499094%{background-position:-12150px 0}
    23.332394%{background-position:-12600px 0}
    24.165693%{background-position:-13050px 0}
    24.998993%{background-position:-13500px 0}
    25.832293%{background-position:-13950px 0}
    26.665592%{background-position:-14400px 0}
    27.498892%{background-position:-14850px 0}
    28.332191%{background-position:-15300px 0}
    29.165491%{background-position:-15750px 0}
    29.99879%{background-position:-16200px 0}
    30.83209%{background-position:-16650px 0}
    31.66539%{background-position:-17100px 0}
    32.49869%{background-position:-17550px 0}
    33.331993%{background-position:-18000px 0}
    34.165295%{background-position:-18450px 0}
    34.998596%{background-position:-18900px 0}
    35.831898%{background-position:-19350px 0}
    36.6652%{background-position:-19800px 0}
    37.4985%{background-position:-20250px 0}
    38.331802%{background-position:-20700px 0}
    39.165104%{background-position:-21150px 0}
    39.998405%{background-position:-21600px 0}
    40.831707%{background-position:-22050px 0}
    41.66501%{background-position:-22500px 0}
    42.49831%{background-position:-22950px 0}
    43.33161%{background-position:-23400px 0}
    44.164913%{background-position:-23850px 0}
    44.998215%{background-position:-24300px 0}
    45.831516%{background-position:-24750px 0}
    46.664818%{background-position:-25200px 0}
    47.49812%{background-position:-25650px 0}
    48.33142%{background-position:-26100px 0}
    49.164722%{background-position:-26550px 0}
    49.998024%{background-position:-27000px 0}
    50.831326%{background-position:-27450px 0}
    51.664627%{background-position:-27900px 0}
    52.49793%{background-position:-28350px 0}
    53.33123%{background-position:-28800px 0}
    54.16453%{background-position:-29250px 0}
    54.997833%{background-position:-29700px 0}
    55.831135%{background-position:-30150px 0}
    56.664436%{background-position:-30600px 0}
    57.497738%{background-position:-31050px 0}
    58.33104%{background-position:-31500px 0}
    59.16434%{background-position:-31950px 0}
    59.997643%{background-position:-32400px 0}
    60.830944%{background-position:-32850px 0}
    61.664246%{background-position:-33300px 0}
    62.497547%{background-position:-33750px 0}
    63.33085%{background-position:-34200px 0}
    64.16415%{background-position:-34650px 0}
    64.997444%{background-position:-35100px 0}
    65.83074%{background-position:-35550px 0}
    66.66404%{background-position:-36000px 0}
    67.49734%{background-position:-36450px 0}
    68.330635%{background-position:-36900px 0}
    69.16393%{background-position:-37350px 0}
    69.99723%{background-position:-37800px 0}
    70.83053%{background-position:-38250px 0}
    71.663826%{background-position:-38700px 0}
    72.49712%{background-position:-39150px 0}
    73.33042%{background-position:-39600px 0}
    74.16372%{background-position:-40050px 0}
    74.99702%{background-position:-40500px 0}
    75.830315%{background-position:-40950px 0}
    76.66361%{background-position:-41400px 0}
    77.49691%{background-position:-41850px 0}
    78.33021%{background-position:-42300px 0}
    79.163506%{background-position:-42750px 0}
    79.9968%{background-position:-43200px 0}
    80.8301%{background-position:-43650px 0}
    81.6634%{background-position:-44100px 0}
    82.4967%{background-position:-44550px 0}
    83.329994%{background-position:-45000px 0}
    84.16329%{background-position:-45450px 0}
    84.99659%{background-position:-45900px 0}
    85.82989%{background-position:-46350px 0}
    86.663185%{background-position:-46800px 0}
    87.49648%{background-position:-47250px 0}
    88.32978%{background-position:-47700px 0}
    89.16308%{background-position:-48150px 0}
    89.996376%{background-position:-48600px 0}
    90.82967%{background-position:-49050px 0}
    91.66297%{background-position:-49500px 0}
    92.49627%{background-position:-49950px 0}
    93.32957%{background-position:-50400px 0}
    94.162865%{background-position:-50850px 0}
    94.99616%{background-position:-51300px 0}
    95.82946%{background-position:-51750px 0}
    96.66276%{background-position:-52200px 0}
    97.496056%{background-position:-52650px 0}
    98.32935%{background-position:-53100px 0}
    99.16265%{background-position:-53550px 0}
    100%{background-position:-54000px 0}
}
@-o-keyframes figley{
    0%{background-position:0 0}
    0.8333%{background-position:-450px 0}
    1.6666%{background-position:-900px 0}
    2.4999%{background-position:-1350px 0}
    3.3332002%{background-position:-1800px 0}
    4.1665%{background-position:-2250px 0}
    4.9998%{background-position:-2700px 0}
    5.8331003%{background-position:-3150px 0}
    6.6664004%{background-position:-3600px 0}
    7.4997005%{background-position:-4050px 0}
    8.333%{background-position:-4500px 0}
    9.1663%{background-position:-4950px 0}
    9.999599%{background-position:-5400px 0}
    10.832899%{background-position:-5850px 0}
    11.666199%{background-position:-6300px 0}
    12.499498%{background-position:-6750px 0}
    13.332798%{background-position:-7200px 0}
    14.166098%{background-position:-7650px 0}
    14.999397%{background-position:-8100px 0}
    15.832697%{background-position:-8550px 0}
    16.665997%{background-position:-9000px 0}
    17.499296%{background-position:-9450px 0}
    18.332596%{background-position:-9900px 0}
    19.165895%{background-position:-10350px 0}
    19.999195%{background-position:-10800px 0}
    20.832495%{background-position:-11250px 0}
    21.665794%{background-position:-11700px 0}
    22.499094%{background-position:-12150px 0}
    23.332394%{background-position:-12600px 0}
    24.165693%{background-position:-13050px 0}
    24.998993%{background-position:-13500px 0}
    25.832293%{background-position:-13950px 0}
    26.665592%{background-position:-14400px 0}
    27.498892%{background-position:-14850px 0}
    28.332191%{background-position:-15300px 0}
    29.165491%{background-position:-15750px 0}
    29.99879%{background-position:-16200px 0}
    30.83209%{background-position:-16650px 0}
    31.66539%{background-position:-17100px 0}
    32.49869%{background-position:-17550px 0}
    33.331993%{background-position:-18000px 0}
    34.165295%{background-position:-18450px 0}
    34.998596%{background-position:-18900px 0}
    35.831898%{background-position:-19350px 0}
    36.6652%{background-position:-19800px 0}
    37.4985%{background-position:-20250px 0}
    38.331802%{background-position:-20700px 0}
    39.165104%{background-position:-21150px 0}
    39.998405%{background-position:-21600px 0}
    40.831707%{background-position:-22050px 0}
    41.66501%{background-position:-22500px 0}
    42.49831%{background-position:-22950px 0}
    43.33161%{background-position:-23400px 0}
    44.164913%{background-position:-23850px 0}
    44.998215%{background-position:-24300px 0}
    45.831516%{background-position:-24750px 0}
    46.664818%{background-position:-25200px 0}
    47.49812%{background-position:-25650px 0}
    48.33142%{background-position:-26100px 0}
    49.164722%{background-position:-26550px 0}
    49.998024%{background-position:-27000px 0}
    50.831326%{background-position:-27450px 0}
    51.664627%{background-position:-27900px 0}
    52.49793%{background-position:-28350px 0}
    53.33123%{background-position:-28800px 0}
    54.16453%{background-position:-29250px 0}
    54.997833%{background-position:-29700px 0}
    55.831135%{background-position:-30150px 0}
    56.664436%{background-position:-30600px 0}
    57.497738%{background-position:-31050px 0}
    58.33104%{background-position:-31500px 0}
    59.16434%{background-position:-31950px 0}
    59.997643%{background-position:-32400px 0}
    60.830944%{background-position:-32850px 0}
    61.664246%{background-position:-33300px 0}
    62.497547%{background-position:-33750px 0}
    63.33085%{background-position:-34200px 0}
    64.16415%{background-position:-34650px 0}
    64.997444%{background-position:-35100px 0}
    65.83074%{background-position:-35550px 0}
    66.66404%{background-position:-36000px 0}
    67.49734%{background-position:-36450px 0}
    68.330635%{background-position:-36900px 0}
    69.16393%{background-position:-37350px 0}
    69.99723%{background-position:-37800px 0}
    70.83053%{background-position:-38250px 0}
    71.663826%{background-position:-38700px 0}
    72.49712%{background-position:-39150px 0}
    73.33042%{background-position:-39600px 0}
    74.16372%{background-position:-40050px 0}
    74.99702%{background-position:-40500px 0}
    75.830315%{background-position:-40950px 0}
    76.66361%{background-position:-41400px 0}
    77.49691%{background-position:-41850px 0}
    78.33021%{background-position:-42300px 0}
    79.163506%{background-position:-42750px 0}
    79.9968%{background-position:-43200px 0}
    80.8301%{background-position:-43650px 0}
    81.6634%{background-position:-44100px 0}
    82.4967%{background-position:-44550px 0}
    83.329994%{background-position:-45000px 0}
    84.16329%{background-position:-45450px 0}
    84.99659%{background-position:-45900px 0}
    85.82989%{background-position:-46350px 0}
    86.663185%{background-position:-46800px 0}
    87.49648%{background-position:-47250px 0}
    88.32978%{background-position:-47700px 0}
    89.16308%{background-position:-48150px 0}
    89.996376%{background-position:-48600px 0}
    90.82967%{background-position:-49050px 0}
    91.66297%{background-position:-49500px 0}
    92.49627%{background-position:-49950px 0}
    93.32957%{background-position:-50400px 0}
    94.162865%{background-position:-50850px 0}
    94.99616%{background-position:-51300px 0}
    95.82946%{background-position:-51750px 0}
    96.66276%{background-position:-52200px 0}
    97.496056%{background-position:-52650px 0}
    98.32935%{background-position:-53100px 0}
    99.16265%{background-position:-53550px 0}
    100%{background-position:-54000px 0}
}
